<div id="Paulie">
    <img src="/assets/images/paulie/face-smirk.png" id="Face" class="face" />
    <div class="body"></div>
</div>


<script>

    var clickDown = createSound("click_down.mp3", function () {
        console.log("mp3 ready")
    })
    var clickUp = createSound("click_up.mp3")
    clickDown.volume = 0.2;
    clickUp.volume = 0.2;

    clickDown.load();
    clickUp.load();


    var $paulie = $("#Paulie");

    $(function () {



        const MIN = 40; // SCALE = 0
        const MAX = 100; // SCALE = 1
        const SCALE = range(900, 2000, 0, 1, document.body.clientWidth);

        const WIDTH = lerp(MIN, MAX, SCALE)
        const HEIGHT = WIDTH * 1.5833333;



        var clicking = false;


        // Let everyone knowthey an adjust their size now
        var evt = new CustomEvent("scaled", { detail: { scale: SCALE } });
        window.dispatchEvent(evt);



        $paulie.width(WIDTH)
        $paulie.height(HEIGHT)





        $paulie.move = (e) => {
            // console.log(e.pageX,e.clientX);
            $paulie.css("transform", `translate(${e.clientX}px, ${e.clientY}px)`)
        }

        const mouseUp = () => {
            clickUp.play()
            clicking = false;
            $paulie.removeClass("clicking");
        };
        const mouseDown = (e) => {
            clickDown.play();
            $(".icon").removeClass("selected");
            clicking = true;
            $paulie.addClass("clicking");

        };

        $(document).on('mousedown', mouseDown)
        $(document).on('mouseup', mouseUp)
        $(document).on('mousemove', $paulie.move);

    })
</script>