<div id="Paulie">
	<img src="/assets/images/paulie/thiccc-body.svg" class="thiccc body" />
	<img src="/assets/images/paulie/thiccc-shadow.png" class="thiccc shadow" />
</div>

<script>

	$(function () {

		
		// // prevent right clicks
		// document.addEventListener('contextmenu', event => {

		//     event.preventDefault()
		//     return false;
		// });

		// window.addEventListener('contextmenu', function (ev) {

		//     ev.preventDefault();
		//     return false;
		// }, false);

		// Scroll Crap

		// $(document).on('mousemove', captureMousePosition);

		// var xMousePos = 0;
		// var yMousePos = 0;
		// var lastScrolledLeft = 0;
		// var lastScrolledTop = 0;

		// $(".ui.window .content").scroll(function (e) {
		// 	if (lastScrolledLeft != $(this).scrollLeft())
		// 	{
		// 		xMousePos -= lastScrolledLeft;
		// 		lastScrolledLeft = $(this).scrollLeft();
		// 		xMousePos += lastScrolledLeft;
		// 	}
		// 	if (lastScrolledTop != $(this).scrollTop())
		// 	{
		// 		yMousePos -= lastScrolledTop;
		// 		lastScrolledTop = $(this).scrollTop() * 0.4;
		// 		yMousePos += lastScrolledTop;

		// 	}
		// 	$paulie.setTranslate(xMousePos, yMousePos); // Look I'm scrolling!
		// });

		// function captureMousePosition(event) {
		// 	xMousePos = event.pageX;
		// 	yMousePos = event.pageY;
		// }


	})
</script>