<head>




	<!-- Meta Craps -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<meta name="vt" content="width=device-width" />
  
    <title>{{  page.title }}</title>
    <link rel="icon" type="image/png" href="/assets/images/fav.png" />
    
    {%- include google-analytics.html -%} 
    {%- feed_meta -%}


	<!-- Cascading Butt Sheets -->
	<link rel="stylesheet" href="/css/v3.css?cachedz={{ page.cachedz }}">


	<!-- Not My Javascript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/Draggable.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
		crossorigin="anonymous"></script>


	<script>console.clear();</script>


  
  </head>