<script>

	$(function () {

		$(".icon").draggable();

		$("#Desktop").on('mousedown', function (e) {


			if (!$(e.target).hasClass('ui') && !$(e.target).parent().hasClass('ui'))
			{
				$('.icon').removeClass("selected");
				$("#Desktop").removeClass("thiccc");
			}

			if ($(e.target).hasClass('icon'))
			{
				$("#Desktop").addClass("thiccc");
				$(e.target).addClass('selected')
			}
		});
	})
</script>


<!-- file.png -->


<div class="icon system-border system-icon empty" id="FileIcon" style="left:20%;bottom:20%">
	<span class="text">thiccc.png</span>
</div>