<script>

    $(function () {

        // --- Desktop Icons ---

        $(".icon").draggable();


        const mouseDown = (e) => {

            $('.icons').removeClass("selected");
            if ($(e.target).hasClass("icon")) {
                $(e.target).addClass("selected");
            }

        };

        $(document).on('mousedown', mouseDown)
        // $(document).on('mouseup', mouseUp)

        $(".icon").on("mouseup", function () {

        })
    })
</script>
<!-- file.png -->

<div class="icon-wrapper">
    <div class="icon empty">
        <span class="text">file.png</span>
    </div>
</div>