<script>

    $(function () {

        // --- Desktop Icons ---

        $(".icon-wrapper").draggable();


        const mouseDown = (e) => {

            $('.icons').removeClass("selected");
            if ($(e.target).hasClass("icon")) {
                $(e.target).addClass("selected");
            }

        };

        $(document).on('mousedown', mouseDown)
        // $(document).on('mouseup', mouseUp)

        $(".icon").on("mouseup", function () {

        });
        $("#FileIcon").css("right","70%").css("bottom","30%")
    })
</script>
<!-- file.png -->

<div class="icon-wrapper" id="FileIcon">
    <div class="icon empty">
    </div>
    <span class="text">file.png</span>
</div>