

<!-- Netsurf Window -->

<div id="Netsurf" class="ui window">
    <div class="close"></div>
    <h3 class="header">netSurf</h3>
    <div class="content">

        <h3>catchin' a wave?</h3>
        <h1>🤙</h1>

        <p>you found the right spot</p>

        <hr />

        <h4>🏄 🏄 🏄 🏄 🏄 🏄 </h4>

        <p>time to see if i overflow. is the wave too big for me in this window?? </p>


    </div>
</div>

<!-- QR Window -->

<div id="QuantumRectangle" class="ui window">
    <div class="close"></div>
    <h3 class="header">Quantum Rectangle</h3>
    <div class="content">
        <img src="/assets/images/qr.png" width="400" />

    </div>
</div>

<!-- hello -->


<div id="SystemHello" class="ui window">
    <div class="close"></div>
    <h3 class="header">System Alert</h3>
    <div class="content">
        <p><strong>Where did paulie go?!</strong></p>

        <p>Dont worry, dont worry. everyon just calm down. paulie is fine. he just helped too much and needed a break.
            he's just in the file DIRECTORY. </p>

        <p>no need to panic. he will be back in about an hour. just like you remembered him. perhaps even better than
            you remember.</p>

        <p> thanks, kevin <br />assistant to the update manager</p>
    </div>
</div>

