
<script type="text/javascript">

    $(function () {

        // Set up UI

        const defaultWindowProps = {
            helper: "ui-resizable-helper",
            minWidth: 200,
            minHeight: 200,
            maxHeight: 200,
            maxWidth: 200
        }

        $('#Netsurf').resizable({
            ...defaultWindowProps,
            minWidth: 100,
            minHeight: 100,
            maxHeight: 500,
            maxWidth: 500

        }).draggable({
            handle: '.header',
            containment: "body"
        }).css("right", "20%").css("top", "1%").width(250).height(300);

        // ---- QR Window -----

        $("#QuantumRectangle").resizable(defaultWindowProps).draggable({
            handle: '.header',
            containment: "body"
        }).css("left", "50%").css("bottom", "20%").width(200).height(200);

        // --- Hello Window ---

        $("#SystemHello").resizable({
            ...defaultWindowProps,
            minWidth: 250,
            minHeight: 250,
            maxHeight: 600,
            maxWidth: 900,

        }).draggable({
            handle: '.header',
            containment: "body"
        });

        $("#SystemHello").css("left", "5%").css("top", "1%");
        $("#SystemHello").width(300).height(300);

        // --- All Windows ---

        $(".ui.window .close").on("click", function () {
            $(this).parent().hide()
        })
    });
</script>

<!-- Netsurf Window -->

<div id="Netsurf" class="ui window">
    <div class="close"></div>
    <h3 class="header">netSurf</h3>
    <div class="content">

        <h3>catchin' a wave?</h3>
        <h1>🤙</h1>

        <p>you found the right spot</p>

        <hr />

        <h4>🏄 🏄 🏄 🏄 🏄 🏄 </h4>

        <p>time to see if i overflow. is the wave too big for me in this window?? </p>


    </div>
</div>

<!-- QR Window -->

<div id="QuantumRectangle" class="ui window">
    <div class="close"></div>
    <h3 class="header">Quantum Rectangle</h3>
    <div class="content">
        <img src="/assets/images/qr.png" width="400" />

    </div>
</div>

<!-- hello -->


<div id="SystemHello" class="ui window">
    <div class="close"></div>
    <h3 class="header">System Alert</h3>
    <div class="content">
        <p><strong>Where did paulie go?!</strong></p>

        <p>Dont worry, dont worry. everyon just calm down. paulie is fine. he just helped too much and needed a break.
            he's just in the file DIRECTORY. </p>

        <p>no need to panic. he will be back in about an hour. just like you remembered him. perhaps even better than
            you remember.</p>

        <p> thanks, kevin <br />assistant to the update manager</p>
    </div>
</div>
