<script type="text/javascript">
	// autoScrollSize [true|false] (default: true)
	// automatically calculate scrollbar size depending on container/content size
	// autoUpdate [true|false] (default: true)
	// automatically update scrollbar if container/content size is changed
	// disableBodyScroll [true|false] (default: false)
	// if this option is enabled and the mouse is over the scrollable container, the main page won't be scrolled
	// duration [ms] (default: 200)
	// scroll speed duration when the mouse is over scrollbar (scroll emulating mode)
	// ignoreMobile [true|false] (default: false)
	// do not initialize custom scrollbars on mobile devices
	// ignoreOverlay [true|false] (default: false)
	// do not initialize custom scrollbars in browsers when native scrollbars overlay content (Mac OS, mobile devices, etc...)
	// scrollStep [px] (default: 30)
	// showArrows [true|false] (default: false)
	// stepScrolling [true|false] (default: true)
	// scrollx [string|element] (default: simple)
	// scrolly [string|element] (default: simple)
	// onDestroy [function] (default: null)
	// onInit [function] (default: null)
	// onScroll [function] (default: null)

	// onUpdate [function] (default: null)


	const dragDefaults = {
		handle: '.header',
		containment: "body",
		cursor: "none"
	}

	$(function () {


		$("#QuantumRectangle").draggable(dragDefaults);
		$("#QuantumRectangle").resizable({ helper: "ui-resizable-helper", minWidth: 200, minHeight: 200, maxHeight: 600, maxWidth: 900 })
		$('#QuantumRectangle .scrollbar-inner').scrollbar();

		// // LOAD DISK

		$("#LoadDisk").draggable(dragDefaults);
		$("#LoadDisk").resizable({ helper: "ui-resizable-helper", minWidth: 200, minHeight: 200, maxHeight: 600, maxWidth: 900 })
		$('#LoadDisk .scrollbar-inner').scrollbar();


		$("#NetSurf").draggable(dragDefaults);
		$("#NetSurf").resizable({ helper: "ui-resizable-helper", minWidth: 200, minHeight: 250, maxHeight: 600, maxWidth: 900 })
		$('#NetSurf .content').scrollbar({
			"autoScrollSize": false,
			"onInit": function (e) {
				// console.log("e",e)
				// "scrolly": ""
			}
		});
	});

</script>


<div id="QuantumRectangle" class="ui window" style="width: 200px;height:200px;bottom:10%;left:10%;z-index:900;">

	<div class="header system border">
		<div class="close system border"></div>
		<span class="system text">Quantum Rectangle</span>
	</div>


	<div class="scroll-baby system border">


		<div class="scrollbar-inner">
			<img src="/assets/images/qr.png" width="400" />
		</div>

	</div>
</div>




<div class="ui window" id="LoadDisk" style="width: 300px;height:300px;top:10%;left:10%">


	<div class="header system border">
		<div class="close system border"></div>
		<span class="system text">netsurf</span>
	</div>


	<div class="scroll-baby system border">


		<div class="scrollbar-inner">


			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
				scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
				Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
				hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
				pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
				sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
				ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
				nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
				viverra nisi, in interdum massa nibh nec erat.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
				scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
				Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
				hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
				pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
				sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
				ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
				nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
				viverra nisi, in interdum massa nibh nec erat.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
				scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
				Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
				hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
				pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
				sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
				ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
				nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
				viverra nisi, in interdum massa nibh nec erat.
			</p>
		</div>
	</div>


</div>



<div class="ui window" id="NetSurf" style="width: 300px;height: 200px;right:10%">

	<div class="header system border">
		<div class="close system border"></div>
		<span class="system text">netsurf</span>
	</div>


	<div class="scroll-baby system border">


		<div class="scrollbar-inner">
			
			{% for window in site.windows %}
{{ window.content | markdownify }}
{% endfor %}

		</div>
	</div>

</div>

