* {
	box-sizing: border-box;
	font-family: terminal;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    background-color: green;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
:focus {
    outline: none;
}

*::selection {
    background-color: transparent;
    // color: white;
}

