#Desktop {
	@include flex();
	background-color: $green;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

// ========================================================================================
//										Windows
// ========================================================================================

$header: #eeeeee;
$content: #d8d8d8;
$close: #ff0000;

.ui.window {
	z-index: 10;
	position: absolute;
	display: flex;
	flex-direction: column;

	box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	@include transition(box-shadow 300ms ease-in);

	&:hover {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	}

	.header {
		margin: 0;
		background: $header;
		height: 60px;
		width: 100%;
		display: flex;
		align-items: center;
		border-left: solid 5px black;
		border-top: solid 5px black;
		border-bottom: 5px black solid;
		border-right: solid 5px black;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

		.text {
			font-size: 22px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.close {
			$size: 27px;
			width: $size !important;
			height: $size !important;
			min-width: $size !important;
			min-height: $size !important;
			z-index: 100;
			border-color: black;
			border-style: solid;
			border-width: 5px;
			background: $red;
			margin: 4px;
			margin: 0 10px;
			@include border-radius(40px);
			@include transition(all 100ms);
			&:hover {
				@include transform(scale(1.1));
			}
		}
	}

	.content {
		$grey: $content;
		flex-grow: 1;
		background: $content;
		overflow: hidden;
		background: $content;
		padding: 0 10px;
	}

	.ui-icon-gripsmall-diagonal-se {
		height: 8px;
		width: 8px;
		bottom: 8px;
		right: 8px;
		position: absolute;
		font-size: 0.1px;
		display: block;
		background: url(/assets/images/icon-resize.svg) no-repeat;
		background-size: 100%;
		&:hover {
			filter: brightness(3);
		}
	}
}

.ui-resizable-helper {
	border: 3px dashed darken($content, 30%);
}

.ui-resizable-se {
	transform: scale(1.3);
	right: 3px;
	bottom: 3px;
}

.ui.window.previewResize {
	.header {
		border-top-style: dashed;
	}
	.content {
		border-left-style: dashed;
		border-right-style: dashed;
		border-bottom-style: dashed;
	}
}

$contentPadding: 10px;

.scroll-baby {
	display: inline;
	height: 100%;
	background-color: $content;
	padding: 0 0 0 $contentPadding;
	border-right: solid 5px black;
	border-bottom: solid 5px black;
	border-left: solid 5px black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden !important;
}

.scrollbar-inner.scroll-content.scroll-scrolly_visible {
	padding-right: 30px;
	padding-left: 10px;
}

.scroll-wrapper {
	overflow: hidden !important;
	padding: 0 !important;
	position: relative;
	height: 100%;
}

.scroll-wrapper > .scroll-content {
	border: none !important;
	box-sizing: content-box !important;
	height: auto;
	left: 0;
	margin: 0;
	max-height: none;
	max-width: none !important;
	overflow: scroll !important;
	padding: 0;
	position: relative !important;
	top: 0;
	width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
	height: 0;
	width: 0;
}

.scroll-element {
	display: none;
}
.scroll-element,
.scroll-element div {
	box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
	display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
	cursor: none !important;
}

.scroll-textarea {
	border: 1px solid #cccccc;
	border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
	overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
	border: none !important;
	box-sizing: border-box;
	height: 100% !important;
	margin: 0;
	max-height: none !important;
	max-width: none !important;
	overflow: scroll !important;
	outline: none;
	padding: 2px;
	position: relative !important;
	top: 0;
	width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
	height: 0;
	width: 0;
}

/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div {
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 10;
}

.scrollbar-inner > .scroll-element div {
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-x {
	bottom: 0px;
	height: 16px;
	left: 0;
	width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-y {
	height: 100%;
	right: 0px;
	top: 0;
	width: 16px;
}

.scrollbar-inner > .scroll-element .scroll-element_outer {
	overflow: hidden;
}
.scrollbar-inner > .scroll-element .scroll-element_track {
	background-color: darken($content, 10%);
}
.scrollbar-inner > .scroll-element .scroll-bar {
	background-color: darken($content, 30%);
}
.scrollbar-inner > .scroll-element:hover .scroll-bar {
	background-color: #919191;
}
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar {
	background-color: #919191;
}

/* update scrollbar offset if both scrolls are visible */

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
	left: -12px;
}
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
	top: -12px;
}
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
	left: -12px;
}
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
	top: -12px;
}

// ========================================================================================
//										Icons
// ========================================================================================

.navbar {
	height: 125px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0;

	display: flex;
	justify-content: flex-start;

	&::after {
		content: "";
		bottom: 0px;
		background-color: #eeeeee;
		border-top: solid 5px black;
		width: 100%;
		height: 80px;
		position: absolute;
		z-index: 0;
	}

	.icon {
		&.pressing {
			transform: scale(0.94);
		}
		&.pressed {
			transform: scale(0.95);
		}
	}
}

.icon {
	z-index: 1;
	margin: 0 20px 30px 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: contain;
	$size: 80px;
	width: $size;
	height: $size;

	&::after {
		position: absolute;
		bottom: -33px;
		font-size: 25px;
	}
}

.desktop {
	.icon {
		border: solid 4px blue;
		background-size: 110%;
		background-position: center;
		// box-sizing: border-box;
		&.pressed {
			border-color: $blue;

			&::after {
				background-color: $blue;
				color: white;
			}
		}
	}
}

@mixin icon($label, $filename) {
	background-image: url($filename);
	&::after {
		content: $label;
	}
}

.power.icon {
	@include icon("power", "../assets/images/icon-power.png");
	margin-left: 50px;
}
.paint.icon {
	@include icon("paint", "../assets/images/icon-paint.png");
}
.netsurf.icon {
	@include icon("netsurf", "../assets/images/icon-netsurf.png");
}
.fart.icon {
	@include icon("fart.gif", "../assets/images/icon-fart.png");
}
.niftydex.icon {
	@include icon("niftydex", "../assets/images/icon-niftydex.png");
}
.updater.icon {
	@include icon("updater", "../assets/images/icon-updater.png");
}
.spacer.icon {
	flex: 1;
}
.clock.icon {
	background-color: #eee;
	border: solid 5px black;
	border-radius: 15px;
	width: 300px;
	height: 82px;
	margin-right: 50px;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	font-size: 25px;
	&::after {
		bottom: -35px;
		content: "clock+";
	}
}

.window.error {
	width: 400px;
	left: 50%;
	margin-left: -200px;
	top: 10vh;

	.header {
		background-color: #007aff;
	}
	h2,
	p {
		text-align: center;
	}

	p {
		font-size: 20px;
		margin: 30px 40px;
		line-height: 1.4em;
	}
}

@include not-phone() {
	.ui.window.error {
		display: none;
	}
	.acornoverlay {
		display: none;
	}
}
@include phone() {
	* {
		cursor: pointer !important;
	}
	#Paulie {
		display: none;
	}
	.navbar {
		.paint,
		.netsurf,
		.niftydex,
		.clock {
			display: none;
		}
	}

	.window.error {
		width: 90vw;
		left: 5vw;
		top: 20vh;
		margin-left: 0;

		.header {
			background-color: #007aff;
		}
		h2,
		p,
		h1 {
			text-align: center;
			margin: 0;
		}
		h1 {
			font-size: 50px;
			line-height: 1em;
			margin: 20px 0 10px 0;
		}
		h2 {
			margin: 20px 0 0 0;
		}
		p {
			font-size: 20px;
			margin: 0px 30px 20px 30px;
			line-height: 1.4em;
		}
	}

	.acornoverlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		opacity: 0;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		transition: 100ms background-color ease-out;

		&.full {
			opacity: 1;
			background-color: black;
			z-index: 100;
			p {
			}
		}
		p {
			color: white;
			font-family: Courier;
			text-align: center;
			font-weight: 100;
			margin: 0;
		}
	}
}
