@font-face {
  font-family: VT323;
  src: url(/assets/fonts/VT323.ttf);
}
@font-face {
  font-family: terminal;
  src: url(/assets/fonts/terminal-grotesque.ttf);
}


* {
    box-sizing: border-box;
    font-family: terminal;
}


// h1, h2, h3, h4, h5 {
//   font-weight: normal;
// }

// h1 {
//   // margin-bottom: -10px;
//   font-family: Silom;
// }

// hr {
//   margin: 10px 0;
// }
// p {
//  font-size: 1.3rem;
//  font-weight: 100;
//  font-family: Arial;
// }

// li {
//   font-size: 17px;
//   margin: 5px 0;
// }

// code {
//   display: block;
//   padding: 1rem;
//   margin: 1rem;
//   font-family: Courier New;
//   background: #ddd;
// }