.icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.empty {
        border: solid 2px black;
        border-radius: 5px;
    }
    &:hover {
        svg {
            fill: $blue;
        }
    }
    svg {
        fill: black;
    }
}
span {
    margin-top: 5px;
    text-align: center;
    padding: 2px 4px;
}

.selected {
    .icon {
        &.empty {
            border: 2px solid #2962ff;
        }
        svg {
            fill: $blue;
        }
    }
    span {
        background: $blue;
        color: white;
    }
}
