---
layout: base
---
{%- include audio.html -%}



<!-- Desktop Windows  -->



<div id="SimpleWindowTemplate" class="desktop window" >
	<div class="close"></div>
	<div class="header">
		System Message 
	</div>
	<div class="content">
		<p><b>>>>>From: Update Manager</b> **>>>>To: Paulie:**  ** * * * <strong>Begin transmission</strong> ****
			u cant avoid me forever!<br/><<<<< End Transimizion >>>>>></p>
	</div>
</div>


<!-- Desktop Icons -->

{% for icon in site.desktop_icons %}
<div class="icon-hitbox" style="left:{{ icon.left }}%;top: {{ icon.top }}%;">
	<div class="icon {{ icon.name }}">
		<?xml version="1.0" ?>
		{{ icon.content }}
	</div>
	{% if icon.label %}
		<span>{{ icon.label }}</span>
	{% endif %}
</div>
{% endfor %}


{{ content }}

{%- include cursor.html -%}


<div id="NavBar">
	<button id="Fart">Fart</button>
</div>



<script src="/scripts/v3/helpers.js?cachedz={{ page.cachedz }}"></script>
<script src="/scripts/v3/paulie.js?cachedz={{ page.cachedz }}"></script>
<script src="/scripts/v3/system.js?cachedz={{ page.cachedz }}"></script>
<script src="/scripts/v3/index.js?cachedz={{ page.cachedz }}"></script>

<script>



</script>